In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('wiki-topcats-page-names.txt',sep='\n', header=-1, names=["Name"])
df.head()

                                        Name
0                        0 Chiasmal syndrome
1                              1 Kleroterion
2                                 2 Pinakion
3  3 LyndonHochschildSerre spectral sequence
4                   4 Zariski's main theorem

In [3]:
#df.index=df.apply(lambda x:x['Name'].split()[0], axis =1) #probably useless
df["Name"]=df.apply(lambda x: " ".join(x["Name"].split()[1:]),axis=1)
df.head()

                                      Name
0                        Chiasmal syndrome
1                              Kleroterion
2                                 Pinakion
3  LyndonHochschildSerre spectral sequence
4                   Zariski's main theorem

In [4]:
n=len(df)
n

1791489

In [5]:
category = pd.read_csv("wiki-topcats-categories.txt", header = None, sep = "/n", names=["nodes"])

/home/giacomo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [6]:
category.head()

                                               nodes
0  Category:Buprestoidea; 301 302 303 304 305 306...
1  Category:People_from_Worcester; 1056 1057 1058...
2  Category:Skin_conditions_resulting_from_physic...
3  Category:Visual_kei_bands; 1297 1300 1311 1312...
4  Category:Japanese_rock_music_groups; 1297 1300...

In [7]:
category["Name"]=category.apply(lambda x: x["nodes"].split(";")[0].split(":")[1], axis=1)

In [8]:
category.head()

,nodes,Name
0,Category:Buprestoidea; 301 302 303 304 305 306...,Buprestoidea
1,Category:People_from_Worcester; 1056 1057 1058...,People_from_Worcester
2,Category:Skin_conditions_resulting_from_physic...,Skin_conditions_resulting_from_physical_factors
3,Category:Visual_kei_bands; 1297 1300 1311 1312...,Visual_kei_bands
4,Category:Japanese_rock_music_groups; 1297 1300...,Japanese_rock_music_groups

In [9]:
category["nodes"]= category.apply(lambda x: list(map(int,x["nodes"].split(";")[1].split())),axis=1)

In [10]:
#just change the order of the columns
category= category[["Name","nodes"]]

In [11]:
cat = category.loc[category.apply(lambda x: len(x["nodes"]), axis = 1) > 3500]

In [12]:
c = len(cat)
c

35

In [13]:
cat.head()

,Name,nodes
868,English_footballers,"[22860, 28411, 28961, 28979, 29264, 29573, 295..."
869,The_Football_League_players,"[14003, 23536, 27109, 27348, 27459, 27989, 280..."
876,Association_football_forwards,"[26876, 26877, 26879, 26887, 26892, 26904, 269..."
898,Association_football_goalkeepers,"[26900, 26909, 26917, 26960, 26966, 26984, 270..."
900,Association_football_midfielders,"[14003, 15291, 23536, 26880, 26882, 26885, 268..."

In [14]:
lengths=[]
for i,val in cat.iterrows():
    lengths.append(len(val["nodes"]))
lengths
#so I take the second last wich has no many nodes

[9237,
 9467,
 6959,
 3997,
 8270,
 6668,
 418223,
 3760,
 6154,
 6580,
 6546,
 5913,
 7851,
 3813,
 34721,
 7729,
 13704,
 5701,
 4853,
 3501,
 4551,
 22699,
 15302,
 3697,
 4888,
 3542,
 11661,
 13938,
 8401,
 12174,
 7237,
 6767,
 3588,
 4040,
 4517]

In [15]:
import pickle

In [16]:
with open("Graph", "rb") as f:
    graph = pickle.load(f)

In [17]:
import networkx as nx

In [18]:
#input category 
C0 = "American_military_personnel_of_World_War_II"
nodes_C0 = list(cat.loc[cat["Name"]==C0]["nodes"])[0]

nodes_C0

[1231,
 12401,
 13319,
 14341,
 14807,
 15902,
 15913,
 15915,
 15917,
 15918,
 16319,
 16406,
 16408,
 16410,
 16420,
 16472,
 16541,
 16558,
 16580,
 16692,
 16712,
 17054,
 17058,
 17065,
 17088,
 17100,
 17115,
 17118,
 17146,
 17165,
 17167,
 17171,
 17175,
 17176,
 17210,
 17424,
 17799,
 17809,
 17815,
 17817,
 17911,
 17914,
 18067,
 18669,
 18673,
 18735,
 18830,
 18858,
 18859,
 18869,
 18880,
 18881,
 18882,
 18883,
 18886,
 18887,
 18888,
 18894,
 18896,
 18949,
 18974,
 18975,
 18977,
 18978,
 18979,
 18981,
 18982,
 18984,
 18985,
 18988,
 18989,
 18990,
 18993,
 19002,
 19004,
 19010,
 19015,
 19016,
 19017,
 19019,
 19022,
 19023,
 19024,
 19027,
 19032,
 19036,
 19039,
 19043,
 19045,
 19046,
 19048,
 19050,
 19051,
 19052,
 19053,
 19057,
 19059,
 19063,
 19066,
 19068,
 19075,
 19082,
 19083,
 19084,
 19086,
 19089,
 19094,
 19099,
 19110,
 19112,
 19114,
 19121,
 19122,
 19125,
 19128,
 19129,
 19132,
 19138,
 19191,
 19201,
 19202,
 19204,
 19208,
 19209,
 19217,
 19218,
 19226,
 19231,
 19232,
 19236,
 19241,
 19252,
 19253,
 19255,
 19261,
 19264,
 19266,
 19269,
 19271,
 19278,
 19279,
 19284,
 19287,
 19296,
 19302,
 19311,
 19314,
 19321,
 19323,
 19325,
 19326,
 19327,
 19328,
 19329,
 19331,
 19332,
 19333,
 19335,
 19337,
 19338,
 19345,
 19347,
 19353,
 19354,
 19357,
 19358,
 19362,
 19365,
 19367,
 19368,
 19370,
 19373,
 19375,
 19376,
 19377,
 19378,
 19397,
 19402,
 19406,
 19414,
 19447,
 19450,
 19451,
 19456,
 19490,
 19492,
 19497,
 19498,
 19513,
 19717,
 19799,
 20260,
 22103,
 24220,
 24278,
 26279,
 28483,
 31222,
 31732,
 33189,
 35122,
 35506,
 39184,
 39237,
 39306,
 39321,
 39646,
 39843,
 40201,
 40570,
 52181,
 60724,
 63097,
 63723,
 64148,
 64716,
 64983,
 65142,
 65478,
 67368,
 92722,
 109270,
 110444,
 110494,
 110839,
 110920,
 111053,
 113503,
 114207,
 114438,
 114461,
 114478,
 114485,
 114759,
 114880,
 114888,
 114933,
 114937,
 114938,
 114950,
 114951,
 115024,
 115025,
 115094,
 115099,
 115127,
 115149,
 115192,
 115198,
 115825,
 116121,
 116128,
 116200,
 116285,
 116351,
 116443,
 116464,
 116466,
 116763,
 116805,
 116809,
 116811,
 116813,
 116814,
 116868,
 117086,
 117596,
 117597,
 117598,
 117600,
 117947,
 117990,
 118407,
 118827,
 118830,
 118849,
 118853,
 118856,
 118860,
 118961,
 119053,
 119063,
 119067,
 119069,
 119070,
 119073,
 119074,
 119076,
 119079,
 119080,
 119081,
 119082,
 119083,
 119085,
 119087,
 119092,
 119096,
 119097,
 119102,
 119103,
 119104,
 119105,
 119106,
 119109,
 119114,
 119115,
 119118,
 119119,
 119120,
 119121,
 119191,
 119408,
 119430,
 119475,
 119476,
 119478,
 119481,
 119499,
 119511,
 119534,
 119639,
 119684,
 119759,
 119766,
 119767,
 119783,
 119784,
 119787,
 119788,
 119790,
 119792,
 119793,
 119794,
 119795,
 119796,
 119798,
 119799,
 119800,
 119801,
 119803,
 119804,
 119805,
 119810,
 119811,
 119840,
 119866,
 119873,
 119910,
 119917,
 119931,
 119932,
 119945,
 119949,
 119951,
 119957,
 119959,
 120197,
 120222,
 120291,
 120422,
 120432,
 120433,
 120471,
 120475,
 120522,
 120523,
 120524,
 120525,
 120529,
 120573,
 120578,
 120599,
 120600,
 120607,
 120619,
 120626,
 120627,
 120631,
 120660,
 120666,
 120674,
 120677,
 120688,
 120689,
 120806,
 120815,
 120816,
 120825,
 120834,
 120835,
 120837,
 120838,
 120858,
 120862,
 120867,
 120873,
 120888,
 120892,
 120906,
 120924,
 121064,
 121080,
 121113,
 121131,
 121152,
 121210,
 121221,
 121235,
 121237,
 121238,
 121239,
 121240,
 121242,
 121243,
 121246,
 121250,
 121252,
 121254,
 121255,
 121256,
 121258,
 121262,
 121263,
 121264,
 121266,
 121269,
 121278,
 121279,
 121281,
 121287,
 121294,
 121302,
 121305,
 121306,
 121308,
 121309,
 121310,
 121311,
 121318,
 121319,
 121338,
 121351,
 121362,
 121363,
 121364,
 121374,
 121376,
 121390,
 121394,
 121397,
 121407,
 121415,
 121417,
 121423,
 121428,
 121433,
 121443,
 121457,
 121500,
 121526,
 121626,
 121630,
 121690,
 121702,
 121999,
 122350,
 122386,
 122387,
 122390,
 122417,
 122419,
 122420,
 122492,
 122493,
 122516,
 122526,
 122527,
 122533,
 122543,
 122544,
 122547,
 122550,
 122552,
 122554,
 122558,
 122565,
 122569,
 122577,
 122578,
 122588,
 122600,
 122614,
 122617,
 122638,
 122670,
 122680,
 122685,
 122691,
 122692,
 122698,
 122712,
 122745,
 122749,
 122760,
 122762,
 122806,
 122838,
 122841,
 122846,
 122847,
 122941,
 123016,
 123056,
 123057,
 123065,
 123105,
 123124,
 123135,
 123181,
 123184,
 123188,
 123199,
 123200,
 123201,
 123203,
 123209,
 123212,
 123215,
 123222,
 123243,
 123257,
 123258,
 123295,
 123296,
 123331,
 125317,
 125318,
 125320,
 125325,
 125327,
 125361,
 125395,
 132122,
 133096,
 134229,
 134230,
 134483,
 135423,
 135426,
 135611,
 137745,
 139909,
 140526,
 142199,
 142234,
 144118,
 144135,
 145638,
 147755,
 147794,
 147909,
 148106,
 148116,
 148981,
 149065,
 149201,
 149470,
 149950,
 152996,
 153387,
 153431,
 156099,
 165831,
 166993,
 168481,
 184151,
 188660,
 188707,
 210632,
 211598,
 212219,
 213888,
 214438,
 220080,
 221449,
 223141,
 223979,
 229245,
 229249,
 230653,
 231586,
 231633,
 231775,
 232215,
 232255,
 232376,
 232393,
 232721,
 233010,
 233077,
 233126,
 233140,
 233148,
 233179,
 233188,
 233226,
 233264,
 233282,
 233293,
 233724,
 233813,
 234471,
 234740,
 234743,
 234748,
 234826,
 235109,
 235652,
 236986,
 237795,
 238395,
 238408,
 238529,
 238600,
 238607,
 238609,
 238610,
 239352,
 239401,
 239514,
 239573,
 239587,
 240947,
 240957,
 241099,
 241148,
 241151,
 241152,
 241228,
 241266,
 241268,
 241289,
 241291,
 241298,
 241303,
 241345,
 241347,
 241400,
 241451,
 241485,
 241498,
 241539,
 241546,
 241557,
 241578,
 241586,
 241700,
 241710,
 241811,
 242750,
 243100,
 243866,
 243923,
 243987,
 244530,
 244896,
 245111,
 245181,
 245439,
 245472,
 245967,
 246060,
 246227,
 246272,
 246276,
 246291,
 246315,
 246334,
 246401,
 246733,
 246804,
 247010,
 247179,
 248795,
 249324,
 249622,
 250355,
 250442,
 250712,
 250816,
 251007,
 251160,
 251182,
 251313,
 256180,
 256744,
 257796,
 257824,
 258358,
 258365,
 258395,
 263414,
 263644,
 265897,
 265905,
 265910,
 266564,
 266566,
 266705,
 268060,
 268066,
 268069,
 268076,
 268080,
 268084,
 268892,
 269209,
 269988,
 270113,
 270114,
 270143,
 270291,
 270292,
 270330,
 270332,
 270350,
 270431,
 270435,
 270438,
 270443,
 270510,
 270547,
 270559,
 270569,
 270570,
 270571,
 270572,
 270576,
 270592,
 270596,
 270611,
 270623,
 270625,
 270647,
 270650,
 270651,
 270652,
 270653,
 270655,
 270668,
 270679,
 270690,
 270706,
 270707,
 270748,
 270755,
 270807,
 270835,
 270906,
 271465,
 271474,
 271545,
 271566,
 273792,
 274076,
 274094,
 274101,
 274335,
 274676,
 274706,
 274725,
 274891,
 275266,
 275303,
 276494,
 276897,
 277345,
 277380,
 288237,
 289222,
 289282,
 289354,
 289362,
 289401,
 289607,
 290502,
 292324,
 292332,
 292754,
 292761,
 292997,
 293300,
 293693,
 293937,
 293965,
 294194,
 294217,
 294261,
 294262,
 294274,
 294437,
 294466,
 294477,
 294496,
 294533,
 294537,
 294563,
 294605,
 294639,
 294929,
 294980,
 294982,
 295201,
 295317,
 295385,
 295545,
 295761,
 295763,
 295764,
 295813,
 296552,
 296574,
 296603,
 296606,
 298906,
 300179,
 300184,
 300191,
 300310,
 300320,
 300425,
 300428,
 300438,
 300490,
 300996,
 301002,
 301064,
 301065,
 301203,
 301207,
 301505,
 301677,
 301733,
 302690,
 302796,
 303953,
 304763,
 304962,
 305610,
 305768,
 306140,
 306157,
 306541,
 308048,
 308586,
 309310,
 309812,
 309821,
 310530,
 311675,
 312119,
 312139,
 312325,
 312627,
 313168,
 313196,
 313210,
 313289,
 313307,
 313356,
 313555,
 313574,
 313586,
 313616,
 313651,
 313862,
 314326,
 314386,
 314775,
 314907,
 315164,
 315605,
 315648,
 317100,
 317196,
 317444,
 317872,
 318224,
 318225,
 318711,
 318800,
 318859,
 318860,
 318874,
 318949,
 319082,
 319141,
 319159,
 322839,
 322949,
 324062,
 324236,
 324370,
 324476,
 324539,
 324716,
 324828,
 324831,
 325257,
 326374,
 326538,
 326766,
 327352,
 327628,
 327882,
 327891,
 327895,
 327897,
 327908,
 327920,
 328286,
 328307,
 328345,
 330234,
 330277,
 331185,
 331981,
 332122,
 332337,
 332439,
 332443,
 332447,
 332456,
 332468,
 332480,
 332481,
 332496,
 332501,
 332504,
 332506,
 332512,
 332517,
 332524,
 332525,
 332528,
 332530,
 332542,
 332544,
 332552,
 332553,
 332556,
 332557,
 332561,
 332562,
 332567,
 332568,
 332571,
 332572,
 332573,
 332581,
 332587,
 332594,
 332595,
 332596,
 332601,
 332615,
 332631,
 332636,
 332638,
 332639,
 332641,
 332653,
 332655,
 332664,
 332678,
 332680,
 332687,
 332699,
 332714,
 332734,
 332735,
 332736,
 332747,
 332763,
 332790,
 332798,
 332809,
 332836,
 332849,
 332859,
 332860,
 332862,
 332865,
 332869,
 332879,
 332882,
 332885,
 332888,
 332897,
 332898,
 ...]

In [19]:
import queue
#using a queue
def breadth_first_search(G,a):
    visited=[False]*n
    visited[a]=True
    q = queue.Queue()
    q.put(a)
    d={}
    d[a]=0
    while not q.empty():
        v=q.get()
        for i in list(G.neighbors(v)):
            if not visited[i]:
                q.put(i)
                visited[i]=True
                d[i] = d[v]+1
    return d

In [20]:
bfs1 =nx.single_source_shortest_path_length(G=graph,source=52)
our_bfs =breadth_first_search(graph, 52)
bfs1 == our_bfs

True

Our BFS is correct

#TO BE RUN AND SAVED
final_d={}
for i in nodes_C0[:10]:
    if i in graph:
        di = breadth_first_search(graph,i)
        new_dict= {}
        for key in set().union(final_d, di):
            if key in final_d: new_dict.setdefault(key, []).extend(final_d[key])
            if key in di: new_dict.setdefault(key, []).append(di[key])
        final_d = new_dict

Now we need to compute the dictionary of the distances (using BFS) with source every node belonging to the category $C_0$. 

We append each of this dictionaries in a list "l_bfs"

In [ ]:
l_bfs=[]
for i in nodes_C0[:2000]:
    if i in graph:
        di = breadth_first_search(graph,i)
        l_bfs.append(di)

In [ ]:
with open("list_of_BFSs_part1","wb") as f:
    pickle.dump(l_bfs,f)

Now we want to create a dictionary of this format:

- The key are all the nodes of the graph
- For each key the value is a list, where each element is the lenght of the shortest path with one of the nodes of the category $C_0$

We can create it, just merging all the dictionary in the "l_bfs" list:

In [ ]:
final_d={i:[] for i in range(n)} 
for dic in l_bfs:
    for key in dic:
        final_d[key] += [dic[key]]

In [ ]:
with open("distances","wb") as f:
    pickle.dump(final_d,f)